---
layout: base.njk
pageTitle: 404
permalink: /404.html
---
<h1>404</h1>
<p>
  This page was discharged against medical advice and hasn't been seen
  since.
</p>
<p>
  <a href="/">← back home</a>
</p>
