---
layout: base.njk
pageTitle: ""
jsonLdPerson: true
pageType: "profile"
---
<section class="bio">
  <h1>Trish<span class="dim">ita</span></h1>

  <p>
    I'm a doctor, working through my Compulsory Rotating Medical
    Internship (CRMI) at
    <a href="https://gmchphulbani.odisha.gov.in">Government Medical College
    and Hospital, Phulbani</a> in Odisha. My rotations run at the District
    Headquarters Hospital (DHH), the main hospital for the entire
    district.
  </p>

  <p>
    I earned my medical degree at
    <a href="https://medicine.karazin.ua/en">V. N. Karazin Kharkiv National
    University, School of Medicine</a> in Ukraine, which has been teaching
    doctors since 1805.
  </p>

  <p>
    Off duty, I'm usually behind a camera, tending to my
    plants, or planning the next trip. Rainy evenings are for anime
    and manga.
  </p>
</section>
